*~
*.class
scala/target/
scala/project/
scala/.bsp/
*.cache
main.pdf
measurements-main.pdf
formal-main.pdf
*.aux
*.log
*.bbl
*.blg
*.toc
*.vtc
*.out
.DS_Store
*.gz
a.out
x.log
versionDONOTERASEDONOTCOMMIT.tex
setup-git
image.png
*.dvi
*.fdb_latexmk
*.fls
todo.org
makeall
startup-script
mb-code
long/notes-on-mojtabas-algo.txt
sources-for-pldi.zip
